{% extends 'base.html.twig' %}

{% block bodyClass %}about{% endblock %}
{% block title %}About{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-5">
                <h4 class="h4">Pabulib</h4>
                <p class="text-justify">Pabulib is an open PArticipatory BUdgeting LIBrary. The aim of this website is
                    to collect the participatory budgeting data from all over the world. In a <a
                            href="https://www.ijcai.org/proceedings/2023/0297.pdf" target="_blank">companion paper</a>
                    we have introduced universal .pb data format in which we store all the files.</p>
                <p class="text-justify">We hope that Pabulib will foster meaningful research on PB, in particularly by
                    helping the computational social choice community to offer better aggregation methods to be used in
                    real-world instances of PB.</p>

                <h4 class="h4">CBIP</h4>
                <p class="text-justify">The Jagiellonian Center for Quantitative Research in Political Science (CBIP) is
                    an interdisciplinary research center focusing on the intersection of mathematics, computer science,
                    and political science, ranging from classic and computational social choice theory, through
                    mathematical modeling of elections and voting, to the application of machine learning and data
                    mining algorithms to political science problems such as detection of gerrymandering or
                    identification of voting patterns. The Center's research team includes mathematicians, computer
                    scientists, political scientists, physicists, sociologists, lawyers, and geographers. In addition to
                    research, the Center also develops and maintains database resources for researchers working on
                    electoral systems, legislative studies, and political parties.</p>

                <h4 class="h4">Authors</h4>
                <p class="text-justify">The Pabulib project was invented and is being developed by Dariusz Stolicki (a
                    political scientist from the Jagiellonian University, Poland),
                    Stanisław Szufa (a computer scientist from the Université Paris Dauphine-PSL, France),
                    and by Nimrod Talmon (a computer scientist from the Ben-Gurion University, Israel).</p>
                <p class="text-justify">Data is collected and processed by Ignacy Janiszewski (Data Engineer from
                    Jagiellonian University, Poland).</p>

                <h4 class="h4">Legal Disclaimer</h4>
                <p class="text-justify">Sharing of data sets including personally identifiable voter information may
                    violate the laws of the country of origin or the European Union privacy law. Accordingly, we (1) ask
                    the submitters to either remove all personally identifiable voter information before submission or
                    to advise us of the manner in which such information may be contained in the dataset, and (2)
                    reserve the right to unilaterally remove all personally identifiable voter information. By
                    "personally identifiable voter information" we mean any information that may be used to ascertain
                    the identity of individual voter with certainty and particularity.</p>

                <h4 class="h4">Acknowledgements</h4>
                <p class="text-justify">The Pabulib project is maintained by the Jagiellonian Center for Quantitative
                    Studies in Political Science and funded under the Polish Ministry of Science grant no.
                    0395/DLG/2018/10.</p>
                <p class="text-justify">Moreover, this project has received funding from the European Research Council
                    (ERC) under the European Union’s Horizon 2020 research and innovation
                    programme (grant agreement No 101002854).</p>
                <div class="text-center mb-3">
                    <img src="{{ url_for('main.static', filename='images/erceu.png') }}" alt="ERC EU Logo" width="300">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
