{% extends 'base.html' %}

{% block bodyClass %}about{% endblock %}
{% block title %}About{% endblock %}

{% block body %}
    <section class="max-w-4xl mx-auto px-4">
        <div class="flex justify-center">
            <div class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-8 mt-8 mb-32">

                <h4 class="text-2xl font-bold text-slate-800 mb-4">Pabulib</h4>
                <p class="text-justify mb-4">
                    Pabulib is an open PArticipatory BUdgeting LIBrary. 
                    The aim of this website is to collect the participatory budgeting data from all over the world. 
                    Files are stored in .pb
                    <a href="/format" class="text-blue-800 hover:text-blue-900 underline">data format</a>.
                </p>
                <p class="text-justify mb-6">
                    We hope that Pabulib will foster meaningful research on PB, 
                    in particularly by helping the computational social choice community 
                    to offer better aggregation methods to be used in real-world instances of PB.
                </p>
                <p class="text-justify mb-6">
                    The website is maintained by 
                    <a href="https://ijaniszewski.com/" target="_blank" class="text-blue-800 hover:text-blue-900 underline">Ignacy Janiszewski</a> and 
                    <a href="https://szufa.pl/" target="_blank" class="text-blue-800 hover:text-blue-900 underline">Stanisław Szufa</a>.
                </p>

                <h4 class="text-2xl font-bold text-slate-800 mb-4">History</h4>
                <p class="text-justify mb-6">
                    Pabulib was funded in 2020 by 
                    Dariusz Stolicki, Stanisław Szufa, and Nimrod Talmon. 
                    Initially .pb format was informally introduced in 
                    <a href="https://arxiv.org/pdf/2012.06539" target="_blank" class="text-blue-800 hover:text-blue-900 underline">Pabulib: A Participatory Budgeting Library</a>. 
                    Later, in 2023 it was formalized in a 
                    <a href="https://www.ijcai.org/proceedings/2023/0297.pdf" target="_blank" class="text-blue-800 hover:text-blue-900 underline">companion paper</a>. 
                    Since 2025, Pabulib has operated under the auspices of the Polish association 
                    <a href="https://naukadlademokracji.org.pl" target="_blank" class="text-blue-800 hover:text-blue-900 underline">Nauka dla Demokracji</a> (“Science for Democracy”).
                </p>


                <h4 class="text-2xl font-bold text-slate-800 mb-4">Legal Disclaimer</h4>
                <p class="text-justify mb-6">Sharing of data sets including personally identifiable voter information may
                    violate the laws of the country of origin or the European Union privacy law. Accordingly, we (1) ask
                    the submitters to either remove all personally identifiable voter information before submission or
                    to advise us of the manner in which such information may be contained in the dataset, and (2)
                    reserve the right to unilaterally remove all personally identifiable voter information. By
                    "personally identifiable voter information" we mean any information that may be used to ascertain
                    the identity of individual voter with certainty and particularity.</p>

                <h4 class="text-2xl font-bold text-slate-800 mb-4">Acknowledgements</h4>
                <p class="text-justify mb-4">The Pabulib project is maintained by the Jagiellonian Center for Quantitative
                    Studies in Political Science and funded under the Polish Ministry of Science grant no.
                    0395/DLG/2018/10.</p>
                <p class="text-justify mb-4">Moreover, this project has received funding from the European Research Council
                    (ERC) under the European Union's Horizon 2020 research and innovation
                    programme (grant agreement No 101002854).</p>
                <div class="text-center mb-12">
                    <img src="{{ url_for('main.static', filename='images/erceu.png') }}" alt="ERC EU Logo" class="w-80 mx-auto">
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

{% endblock %}
