{% extends 'base.html' %}

{% block bodyClass %}code{% endblock %}
{% block title %}Code{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-5">
                <h4 class="h4">Pabutools – tools for participatory budgeting</h4>
                <p class="text-justify">Pabutools is a Python package providing the all the tools necessary to work with and analyse participatory budgeting elections. It includes the most common participatory budgeting voting rules, many analysis tools, as well as a Pabulib parser.</p>
                <p><a href="https://github.com/pbvoting/pabutools" target="_blank">Link to GitHub Repository</a></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-4">
                <h4 class="h4">Simple python parser for our files</h4>
<pre><code><span class="code-keyword">import</span> csv

path = <span class="code-string">"test.pb"</span>  <span class="code-comment"># set this variable</span>

<span class="code-keyword">with</span> <span class="code-func">open</span>(path, <span class="code-string">'r'</span>, <span class="code-param">newline</span>=<span class="code-string">''</span>, <span class="code-param">encoding</span>=<span class="code-string">"utf-8"</span>) as csvfile:
    meta = {}
    projects = {}
    votes = {}
    section = <span class="code-string">""</span>
    header = []
    reader = csv.reader(csvfile, <span class="code-param">delimiter</span>=<span class="code-string">';'</span>)
    <span class="code-keyword">for</span> row <span class="code-keyword">in</span> reader:
        <span class="code-keyword">if</span> <span class="code-func">str</span>(row[<span class="code-num">0</span>]).strip().lower() <span class="code-keyword">in</span> [<span class="code-string">"meta"</span>, <span class="code-string">"projects"</span>, <span class="code-string">"votes"</span>]:
            section = <span class="code-func">str</span>(row[<span class="code-num">0</span>]).strip().lower()
            header = <span class="code-func">next</span>(reader)
        <span class="code-keyword">elif</span> section == <span class="code-string">"meta"</span>:
            meta[row[<span class="code-num">0</span>]] = row[<span class="code-num">1</span>].strip()
        <span class="code-keyword">elif</span> section == <span class="code-string">"projects"</span>:
            projects[row[<span class="code-num">0</span>]] = {}
            <span class="code-keyword">for</span> it, key <span class="code-keyword">in</span> <span class="code-func">enumerate</span>(header[<span class="code-num">1</span>:]):
                projects[row[<span class="code-num">0</span>]][key.strip()] = row[it+<span class="code-num">1</span>].strip()
        <span class="code-keyword">elif</span> section == <span class="code-string">"votes"</span>:
            votes[row[<span class="code-num">0</span>]] = {}
            <span class="code-keyword">for</span> it, key <span class="code-keyword">in</span> <span class="code-func">enumerate</span>(header[<span class="code-num">1</span>:]):
                votes[row[<span class="code-num">0</span>]][key.strip()] = row[it+<span class="code-num">1</span>].strip()
</code></pre>
            </div>
        </div>
    </section>
{% endblock %}
