{% extends 'base.html.twig' %}

{% block bodyClass %}contact{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-5">
                <h4 class="h4">Email</h4>
                <p><a href="mailto:pabulib@uj.edu.pl" class="d-inline">pabulib@uj.edu.pl</a></p>
            </div>
            <div class="col-12 col-lg-8 mt-4">
                <h4 class="h4">Address</h4>
                <p class="m-0">Jagiellonian Center for Quantitative Research in Political Science</p>
                <p class="m-0">Reymonta 4, Room 427</p>
                <p class="m-0">30-073 Kraków, Poland</p>
                <p class="m-0"><a href="https://www.cbip.uj.edu.pl/" target="_blank">https://www.cbip.uj.edu.pl/</a></p>
            </div>
        </div>
    </section>
{% endblock %}
