{% extends 'base.html' %}

{% block bodyClass %}contact{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
    <section class="max-w-4xl mx-auto px-4">
        <div class="flex justify-center">
            <div class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-8 mt-8 mb-32">
                <h4 class="text-2xl font-bold text-slate-800 mb-4">Email</h4>
                <p class="mb-6">
                    <a href="mailto:pabulib@uj.edu.pl" class="text-blue-800 hover:text-blue-900 underline">pabulib@uj.edu.pl</a>
                </p>
                
                <h4 class="text-2xl font-bold text-slate-800 mb-4">Address</h4>
                <p class="mb-1">Jagiellonian Center for Quantitative Research in Political Science</p>
                <p class="mb-1">Reymonta 4, Room 427</p>
                <p class="mb-1">30-073 Kraków, Poland</p>
                <p>
                    <a href="https://www.cbip.uj.edu.pl/" target="_blank" class="text-blue-800 hover:text-blue-900 underline">https://www.cbip.uj.edu.pl/</a>
                </p>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock %}
