{% extends 'base.html.twig' %}

{% block bodyClass %}publications{% endblock %}
{% block title %}Publications{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-5">
                <h4 class="h4">Citation Policy</h4>
                <p>If you are using data from this website, we kindly ask you to cite the following article.</p>
                <p class="font-italic padding"><a href="https://www.ijcai.org/proceedings/2023/0297.pdf">
                        Faliszewski et al. "Participatory Budgeting: Data, Tools, and Analysis.", IJCAI-2023.
                    </a></p>
            </div>
            <div class="col-12 col-lg-8 mt-4">
                <h4 class="h4">Publications</h4>

                <p>List of publications using data from Pabulib.</p>

                <ol class="font-italic">
                    <li>
                    L. Gelauff, A. Goel, (2024), Rank, Pack, or Approve: Voting Methods in Participatory Budgeting
                    </li>

                    <li>
                    M. Serramia, M. Lopez-Sanchez, J. A. Rodriguez-Aguilar, S. Moretti, (2024), Value Alignment in Participatory Budgeting
                    </li>

                    <li>
                    S. Rey, J. Maly, (2023), The (computational) social choice take on indivisible participatory budgeting
                    </li>

                    <li>
                    J. Maly, S. Rey, U. Endriss, M. Lackner, (2023), Fairness in participatory budgeting via equality of resources
                    </li>

                    <li>
                    P. Faliszewski, M. Lackner, K. Sornat, S. Szufa, (2023), An experimental comparison of multiwinner voting rules on approval elections
                    </li>

                    <li>
                    H. Aziz, S. Gujar, M. Padala, M. Suzuki, J. Vollen, (2023), Coordinating monetary contributions in participatory budgeting
                    </li>

                    <li>
                    S. Kraiczy, E. Elkind, (2023), An adaptive and verifiably proportional method for participatory budgeting
                    </li>

                    <li>
                    Ł. Janeczko, P. Faliszewski, (2023), Ties in Multiwinner Approval Voting
                    </li>

                    <li>
                    K. Mehra, N. K. Sreenivas, K. Larson, (2023), Deliberation and Voting in Approval-Based Multi-Winner Elections
                    </li>

                    <li>
                    N. Talmon, (2023), Social Choice Around Decentralized Autonomous Organizations: On the Computational Social Choice of Digital Communities
                    </li>

                    <li>
                    N. Boehmer, P. Faliszewski, Ł. Janeczko, A. Kaczmarczyk, (2023), Robustness of Participatory Budgeting Outcomes: Complexity and Experiments
                    </li>

                    <li>
                    S. Majumdar, E. Pournaras, (2023), Consensus-Based Participatory Budgeting for Legitimacy: Decision Support via Multi-agent Reinforcement Learning
                    </li>

                    <li>
                    P. Nelissen, (2023), An Empirical Analysis of Participatory Budgeting in Amsterdam
                    </li>

                    <li>
                    S. Rey, (2023), Variations on participatory budgeting
                    </li>

                    <li>
                    K. Mehra, (2023), Proportionality and Fairness in Voting and Ranking Systems
                    </li>

                    <li>
                    C. Laußmann, (2023), COMSOC Methods in Real-World Applications
                    </li>

                    <li>
                    F. V. Furquim, D. Cordeiro, (2023), Gestão de Recursos para Computação em Nuvem usando Escolha Social Computacional
                    </li>

                    <li>
                    G. Sreedurga, M. R. Bhardwaj, Y. Narahari, (2022), Maxmin participatory budgeting
                    </li>

                    <li>
                    S. Szufa, P. Faliszewski, Ł. Janeczko, M. Lackner, A. Slinko, K. Sornat, N. Talmon, (2022), How to Sample Approval Elections?
                    </li>

                    <li>
                    R. Fairstein, D. Vilenchik, R. Meir, K. Gal, (2022), Welfare vs. Representation in Participatory Budgeting
                    </li>

                    <li>
                    D. Baumeister, L. Boes, C. Laußmann, (2022), Time-Constrained Participatory Budgeting Under Uncertain Project Costs
                    </li>

                    <li>
                    J. Maly, S. Rey, U. Endriss, M. Lackner, (2022), Effort-based fairness for participatory budgeting
                    </li>

                    <li>
                    D. Peters, G. Pierczyński, P. Skowron, (2021), Proportional participatory budgeting with additive utilities
                    </li>
                </ol>
            </div>
        </div>
    </section>

{% endblock %}
