{% extends 'base.html' %}

{% block bodyClass %}tools{% endblock %}
{% block title %}Tools{% endblock %}

{% block body %}
    <section class="max-w-4xl mx-auto px-4">
        <div class="flex justify-center">
            <div class="w-full max-w-3xl bg-white rounded-lg shadow-lg p-8 mt-8">
                <h4 class="text-2xl font-bold text-slate-800 mb-4">Pabutools – tools for participatory budgeting</h4>
                <p class="text-justify mb-4">Pabutools is a Python package providing the all the tools necessary to work with and analyse participatory budgeting elections. It includes the most common participatory budgeting voting rules, many analysis tools, as well as a Pabulib parser.</p>
                <p><a href="https://comsoc-community.github.io/pabutools/index.html" target="_blank" class="text-blue-800 hover:text-blue-900 underline">Link to the Documentation</a></p>
            </div>
        </div>

    </section>
{% endblock %}
{% include 'footer.html' %}
