{% extends 'base.html' %}

{% block bodyClass %}tools{% endblock %}
{% block title %}Tools{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mt-5">
                <h4 class="h4">Pabutools – tools for participatory budgeting</h4>
                <p class="text-justify">Pabutools is a Python package providing the all the tools necessary to work with and analyse participatory budgeting elections. It includes the most common participatory budgeting voting rules, many analysis tools, as well as a Pabulib parser.</p>
                <p><a href="https://comsoc-community.github.io/pabutools/index.html" target="_blank">Link to GitHub Repository</a></p>
            </div>
        </div>

    </section>
{% endblock %}
